body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
canvas {
    border: 2px solid black;
    background-image: url('space.gif');
    background-position: top;
    background-repeat: repeat;
}