body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(42, 37, 42);
}
canvas {
    border: 2px solid black;
    background-image: url('back.png') ;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}